<h2>Регистрация</h2>
<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field class="form" appearance="fill">
    <mat-label>Имя</mat-label>
    <input matInput formControlName="name" placeholder="Василий"
           type="email" class="form-control"
    value="{{ form.get('name').value | titlecase }}">
    <mat-error *ngIf="form.get('name').invalid">
      <mat-error *ngIf="form.get('name').errors.required">
        Email is <strong>required</strong>
      </mat-error>

    </mat-error>
  </mat-form-field>

  <mat-form-field class="form" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email"
           placeholder="email@example.com"
           type="email"
           class="form-control">
    <mat-error *ngIf="form.get('email').invalid">
      <mat-error *ngIf="form.get('email').errors.required">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('email').errors.email && !form.get('email').errors.required">
        Введите валидный email
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form" appearance="fill" >
    <mat-label>Пароль</mat-label>
    <input matInput formControlName="password"
           class="form-control"
           type="password"
           [type]="hidePass ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hidePass = !hidePass"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePass">
      <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <mat-error *ngIf="form.get('password').invalid">
      <mat-error *ngIf="form.get('password').errors.required">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('password').errors.minlength && !form.get('password').errors.required">
        Пароль должен быть не менее {{form.get('password').errors.minlength.requiredLength}} символов.
        Сейчас {{form.get('password').errors.minlength.actualLength}} символов
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form" appearance="outline" >
    <mat-label>Подтвердите пароль</mat-label>
    <input matInput formControlName="confirmPassword"
           class="form-control"
           type="password"
           [type]="hideConfPass ? 'password' : 'text'">
    <button mat-icon-button matSuffix
            (click)="hideConfPass = !hideConfPass"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfPass">
      <mat-icon>{{hideConfPass ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <mat-error *ngIf="form.get('confirmPassword').invalid">
      <mat-error *ngIf="form.get('confirmPassword').errors.required">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('confirmPassword').errors.mismatch && !form.get('confirmPassword').errors.required">
        Пароли не совпадают
      </mat-error>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button class="btn-reg" type="submit">Зарегистрироваться</button>
</form>
