<header class="header">
  <div class="header-container">
    <ul class="header-ul">
      <li class="header-list">
        <a class="header-link" routerLink="/">
          <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
        </a>
      </li>
      <li class="header-list">
        <a class="header-link" [routerLink]="['/login']">Course Project</a>
      </li>
      <li class="header-list">
        <a class="header-link" [routerLink]="['/boards']">Boards</a>
      </li>
    </ul>
  </div>
</header>

